.main {
    width: 100%;
    margin: 100px auto;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.main a {
    margin-top: 50px;
    display: block;
    color: #898CA9;
    font-size: 80%;
}