.background-support {
    background-image: url(../images/support.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.support {
    margin: 40px 0;
    padding: 40px 0;
    color: white;
    overflow: hidden;
}

.support .right-side {
    width: 50%;
    float: right;
}

.support .right-side h2 {
    width: 50%;
    font-size: 160%;
    letter-spacing: 2px;
}

.support .right-side a {
    color: white;
    font-size: 90%;
    border: 1px solid white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 12px;
    display: inline-block;
}